
.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-basis: 8%;
    height: 30%;
    border-radius: 10px;
    margin: 1px;
    font-size: 1vw;
    font-family: sans-serif;
    cursor: pointer;
}


/* .card-red {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    height: 30%;
    border-radius: 10px;
    margin: 1px;
    font-size: 1vw;
    font-family: sans-serif;
    color: red;
} */
.value {
    justify-self: flex-start;
    /* border: 1px solid black; */
    font-size: 2vw;
    margin-left: 10px;
    margin-top: 5px;
}

.suit {
    justify-self:center;
    /* border: 1px solid black; */
    align-self: center;
    font-size: 10vw;
}

#btn1 {

    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 2vw;
    color: white;
    background-color: black;
    width: 20%;
    margin-bottom: 20px;
    transition: 0.3s;
}

#btn1:hover {
    color: black;
    background-color: white;
    cursor: pointer;
        
}

